@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";


.faq {
    padding: 2rem 0;

    // .faq__title
    &__title {}

    // .faq__list
    &__list {
        margin-top: 1.5rem;
        display: grid;
        gap: rem(8);

        @media (min-width:$md3) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .faq__item
    &__item {
        border-radius: 0.5rem;
        border: rem(1) solid #F2F2F2;
        background: #FFF;

        &.active {


            .faq__item-question {


                &::before {
                    transform: rotate(360deg);
                    @extend %ic, .icon-minus;
                }
            }
        }
    }

    // .faq__item-question
    &__item-question {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 150%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        width: 100%;
        text-align: left;
        padding: 1rem;

        @media (min-width:$md4) {
            padding: 1.5rem 2rem;

        }

        &::before {
            order: 1;
            transition: transform 0.3s ease;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1.5rem;
            color: #7C8698;
            @extend %ic, .icon-add;
        }

    }

    // .faq__item-answer
    &__item-answer {
        color: #7C8698;
        font-size: 1.125rem;
        line-height: 120%;
        padding: 0rem 1rem 1rem;

        @media (min-width:$md4) {
            padding: 0rem 2rem 1.5rem;

        }
    }
}