@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";


.post-main {
    padding: 1.2rem 0 1rem;

    @media (min-width:$md4) {
        padding: 0.5rem 0 1rem;

    }

    // .post-main__container
    &__container {
        display: flex;
        gap: 1.5rem;
        flex-direction: column;

        @media (min-width:$md3) {
            gap: 2.5rem;
            align-items: flex-start;
            flex-direction: row;
        }
    }

    // .post-main__poster
    &__poster {
        display: block;
        border-radius: 1rem;
        overflow: hidden;
        order: 1;

        @media (min-width:$md3) {
            order: 0;
            flex: 1 1 auto;
            max-width: 44rem;
        }

    }

    // .post-main__poster-image
    &__poster-image {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 0;
        display: block;
        padding-bottom: #{math.div(22.74, 44)*100%};

        & img,
        & source {
            position: absolute;
            inset: 0;
        }
    }

    // .post-main__details
    &__details {
        display: flex;
        flex-direction: column;

        @media (min-width:$md3) {
            flex: 0 0 rem(500);

        }
    }

    // .post-main__stats
    &__stats {
        order: 1;

        margin-top: 1.35rem;

        @media (min-width:$md3) {
            margin-top: 0;
            order: 0;
        }
    }

    // .post-main__title
    &__title {
        margin-top: 1rem;

        @media (max-width:$md3) {
            font-size: 2.125rem;
            line-height: 120%;
        }
    }

    // .post-main__title
    &__title-link {
        transition: color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: $accent;
            }
        }
    }

    // .post-main__description
    &__description {
        margin-top: 1rem;
        color: #7C8698;
        font-weight: 300;
        line-height: 120%;

        @media (min-width:$md3) {
            max-width: rem(450);
            font-size: 1.125rem;

        }
    }

    // .post-main__categories
    &__categories {
        order: -1;

        @media (min-width:$md3) {
            margin-top: 2.5rem;
            order: 0;
        }
    }

    // .post-main__category
    &__category {}

    // .post-main__author
    &__author {
        margin-top: 1rem;

        @media (min-width:$md3) {
            margin-top: 2.5rem;

        }
    }
}



.article {
    padding: 1.25rem 0;

    &.article--case {
        .container {
            @media (min-width:$md2) {
                max-width: 73rem;
            }
        }
    }

    &.article--post {
        @media (max-width:$md4) {
            padding-top: 0;
        }
    }

    @media (min-width:$md4) {
        padding: 2rem 0;

    }

    // .article__wrapper
    &__wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: rem(22);

        @media (min-width:$md3) {
            gap: 1rem;
            flex-direction: row;
            align-items: flex-start;
        }
    }

    // .article__body
    &__body {
        flex: 1 1 auto;
        border-radius: 0.5rem;
        border: rem(1) solid #F2F2F2;
        background: #FFF;
        margin-inline: -1rem;
        padding: 2rem 1rem;

        @media (min-width:$md3) {
            margin-inline: 0;
            padding: 2rem;
        }
    }

    // .article__sidebar
    &__sidebar {

        display: flex;
        flex-direction: column;
        gap: rem(16);

        @media (min-width:$md3) {
            flex: 0 0 21.5rem;
            position: sticky;
            top: rem(100);

        }
    }

    // .article__toc
    &__toc {
        background: #FFFFFF;
        padding: 1.25rem 1.5rem;

        @media (max-width:$md3) {
            border: rem(1) solid #F2F2F2;
            border-radius: 0.5rem;
            padding: 1.5rem;
        }
    }

    // .article__toc-caption
    &__toc-caption {
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 100%;
    }

    // .article__toc-list
    &__toc-list {
        margin-top: rem(33);
    }

    // .article__toc-item
    &__toc-item {
        display: flex;

        &:not(:last-child) {
            padding-bottom: rem(15);
            margin-bottom: rem(15);
            border-bottom: rem(1) solid #F2F2F2;

        }
    }

    // .article__toc-num
    &__toc-num {
        color: #7c8698;
        font-size: 1rem;
        line-height: 130%;
        flex: 0 0 2rem;
    }

    // .article__toc-link
    &__toc-link {
        font-size: 1rem;
        font-weight: 600;
        line-height: 130%;
        transition: color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: $accent;
            }
        }
    }

    // .article__banner
    &__banner {
        display: none;

        @media (min-width:$md5) {
            border-radius: 0.5rem;
            background: #16EEDC;
            color: #192A3F;
            font-size: 1rem;
            font-weight: 600;
            line-height: 130%;
            padding: 1rem;
            display: block;

        }
    }

    // .article__banner-caption
    &__banner-caption {}

    // .article__banner-title
    &__banner-title {
        margin-top: rem(33);
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 130%;
    }

    // .article__banner-description
    &__banner-description {
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 300;
        line-height: 120%;
    }

    // .article__banner-btn
    &__banner-btn {
        margin-top: rem(33);
        width: 100%;
    }

}

.faq {
    padding: 2rem 0;

    // .faq__title
    &__title {}

    .saswp-faq-block-section {
        & ol {
            @extend .faq__list;

            & li {
                @extend .faq__item;

                &.active {
                    .saswp-faq-question-title {
                        &::before {
                            transform: rotate(360deg);
                            @extend %ic, .icon-minus;
                        }
                    }
                }
            }
        }

        .saswp-faq-question-title {
            cursor: pointer;
            @extend .faq__item-question;
        }

        .saswp-faq-answer-text {
            @extend .faq__item-answer;
        }
    }

    // .faq__list
    &__list {
        margin-top: 1.5rem;
        display: grid;
        gap: rem(8);

        @media (min-width:$md3) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .faq__item
    &__item {
        border-radius: 0.5rem;
        border: rem(1) solid #F2F2F2;
        background: #FFF;

        &.active {


            .faq__item-question {


                &::before {
                    transform: rotate(360deg);
                    @extend %ic, .icon-minus;
                }
            }
        }
    }

    // .faq__item-question
    &__item-question {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 150%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        width: 100%;
        text-align: left;
        padding: 1rem;

        @media (min-width:$md4) {
            padding: 1.5rem 2rem;

        }

        &::before {
            order: 1;
            transition: transform 0.3s ease;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1.5rem;
            color: #7C8698;
            @extend %ic, .icon-add;
        }

    }

    // .faq__item-answer
    &__item-answer {
        color: #7C8698;
        font-size: 1.125rem;
        line-height: 120%;
        padding: 0rem 1rem 1rem;
        display: none;

        @media (min-width:$md4) {
            padding: 0rem 2rem 1.5rem;

        }
    }
}