@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.case {
    padding: 0.5rem 0 2rem;

    // .case__container
    &__container {
        display: flex;
        gap: rem(100);
    }

    // .case__main
    &__main {
        flex: 0 0 rem(500);
    }

    // .case__categories
    &__categories {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
    }

    // .case__category
    &__category {
        color: #192A3F;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        font-weight: 500;
        line-height: 100%;
        border-radius: 62.4375rem;
        border: rem(1) solid #EAEAEA;
        background: #F2F2F2;
        transition: background-color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                background: #ffc49f;
            }
        }
    }

    // .case__title
    &__title {
        margin-top: 2rem;
    }

    // .case__description
    &__description {
        margin-top: 1rem;
        color: #7C8698;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 120%;
    }

    // .case__actions
    &__actions {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
    }

    // .case__btn
    &__btn {}

    // .case__image
    &__image {
        height: rem(305);
        width: 100%;
        border-radius: 1rem;
        overflow: hidden;
    }
}

.features {
    padding: 2rem 0;

    // .features__list
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    // .features__card
    &__card {
        border-radius: 0.5rem;
        border: rem(1) solid #F2F2F2;
        background: #FFF;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
    }

    // .features__card-caption
    &__card-caption {
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: 0.0875rem;
        text-transform: uppercase;
    }

    // .features__card-num
    &__card-num {}

    // .features__card-desc
    &__card-desc {
        color: #7C8698;
        font-size: 1rem;
        line-height: 100%;

    }
}