@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";


.hero {
    min-height: 100vh;
    background: radial-gradient(circle, #1f2228, #18191b);
    display: flex;
    position: relative;

    &-pattern {
        &__bottom {
            position: absolute;
            width: calc(100vw + 46px);
            height: calc(100vh + 10%);
            background: url(./images/bg-pattern.webp) center center no-repeat;
            mix-blend-mode: multiply;
            bottom: -8%;
            left: -23px;
        }

        &__top {
            position: absolute;
            width: calc(100vw + 46px);
            height: calc(100vh + 5%);
            background: url(./images/bg-pattern.webp) center center no-repeat;
            mix-blend-mode: multiply;
            top: -20%;
            left: -23px;
            transform: rotate(180deg);
        }
    }
}