@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?9kdl9z');
  src:  url('fonts/icons.eot?9kdl9z#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?9kdl9z') format('truetype'),
    url('fonts/icons.woff?9kdl9z') format('woff'),
    url('fonts/icons.svg?9kdl9z#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e90b";
}
.icon-date:before {
  content: "\e90c";
}
.icon-update:before {
  content: "\e90d";
}
.icon-add:before {
  content: "\e909";
}
.icon-minus:before {
  content: "\e90a";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e907";
}
.icon-arrow-top-right:before {
  content: "\e906";
}
.icon-long-arrow:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e902";
}
.icon-whatsapp:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e900";
}
