@use "sass:color";
@use "sass:math";
@use "mixins" as *;

// Fonts
$fontfamily: "SFProDisplay" !default;
$font-helvetica: "HelveticaNeue" !default;


// Breakpoints
$md0: 1455.98px !default;
$md1: 1399.98px !default;
$md2: 1199.98px !default;
$md3: 991.98px !default;
$md4: 767.98px !default;
$md5: 575.98px !default;
$md6: 409.98px !default;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1424); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$white: #ffffff;
$dark: #272727;
$accent: #16eedc;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

$header-height: var(--header-height, #{rem(150)})