@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.footer {
	background: #fff;
	margin: 0 auto 0.5rem;
	max-width: 89rem;
	width: 100%;
	padding: 4rem 9.1875rem 2.625rem 7.4375rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;

	@media (max-width: 87.5rem) {
		padding: 0;
		margin: 0;
	}

	&-top {
		display: grid;
		grid-template-columns: 14.4375rem 4fr;
		gap: 8rem;
		margin-bottom: 2.8125rem;

		@media (max-width: 87.5rem) {
			display: flex;
			flex-direction: column;
			gap: 0;
			margin-bottom: 0;
		}

		&__right {
			@media (max-width: 87.5rem) {
				order: 2;
				margin-top: 1.1875rem;

				.footer-logo {
					display: none;
				}
			}
		}
	}

	&-logo {
		font-size: 1.375rem;
		font-weight: 800;
		color: #192a3f;
		margin-bottom: 2.75rem;
		display: block;
		text-decoration: none;

		span {
			color: #16eedc;
		}
	}

	&-tagline {
		margin-left: 0.3125rem;
		margin-bottom: 0.9375rem;
		font-size: 0.8125rem;
		font-weight: 300;
		color: #7c8698;
		max-width: 14.4375rem;

		@media (max-width: 87.5rem) {
			width: 100%;
			max-width: unset;
			margin: 0;
			padding: 0.5rem 1rem;
			color: #838383;
		}
	}

	&-contacts {
		margin-left: 0.3125rem;
		display: flex;
		flex-direction: column;
		gap: 0.6875rem;

		span {
			font-size: 0.8125rem;
			font-weight: 500;
			line-height: 100%;
			color: #192A3F;
		}

		@media (max-width: 87.5rem) {
			margin: 0;
			padding: 0.5rem 1rem;
		}
	}

	&-col {
		&__container {
			display: flex;
			justify-content: space-between;

			@media (max-width: 87.5rem) {
				padding: 1rem 1rem 0;
				flex-direction: column;
				gap: 0;
				order: 1;
			}
		}

		@media (max-width: 87.5rem) {
			position: relative;

			&.active {
				.footer-col-toggle {
					transform: rotate(45deg);
				}

				.footer-links {
					max-height: 18.75rem;
					opacity: 1;
					padding: 0 0 1.25rem;
				}
			}

			&:first-of-type {
				.footer-col-header {
					padding-top: 0;
				}
			}

			&:last-of-type {
				.footer-col-divider {
					display: none;
				}
			}
		}

		&-header {
			@media (max-width: 87.5rem) {
				display: flex;
				justify-content: space-between;
				align-items: center;
				cursor: pointer;
				padding: 1rem 0;
			}
		}

		&-title {
			font-size: 0.875rem;
			font-weight: 500;
			color: #192a3f;
			margin-bottom: 3.125rem;

			@media (max-width: 87.5rem) {
				margin: 0;
			}
		}

		&-toggle {
			display: none;

			@media (max-width: 87.5rem) {
				display: block;
				color: #192a3f;
				transition: transform 0.3s ease;
			}
		}

		&-divider {
			@media (max-width: 87.5rem) {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 0.0625rem;
				background: #f2f2f2;
			}
		}
	}

	&-links {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 0.75rem;

		li {
			line-height: 100%;
		}

		a {
			font-size: 0.875rem;
			font-weight: 400;
			color: #7c8698;
			text-decoration: none;
			transition: color 0.2s;
		}

		@media (max-width: 87.5rem) {
			max-height: 0;
			overflow: hidden;
			opacity: 0;
			transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
			padding: 0;
			gap: 1rem;
		}
	}

	&-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 1.5rem;
		border-top: 0.0625rem solid rgba(#000, 0.05);

		@media (max-width: 87.5rem) {
			flex-direction: column;
			gap: 0;
			align-items: flex-start;
			border: none;
			padding: 0;
		}
	}

	&-left {
		display: grid;
		grid-template-columns: 14.4375rem 1fr;
		gap: 8.0625rem;

		@media (max-width: 87.5rem) {
			order: 2;
			width: 100%;
			border-top: 0.0625rem solid rgba(#000000, .05);
			padding: 0.5625rem 1rem;
			display: flex;
			gap: 0;
			justify-content: space-between;
			align-items: center;
		}
	}

	&-rights {
		font-size: 0.75rem;
		font-weight: 400;
		color: #7c8698;

		@media (max-width: 87.5rem) {
			max-width: 5.8125rem;
			color: #838383;
		}
	}

	&-bottom-links {
		display: flex;
		gap: 6.9375rem;

		a {
			font-size: 0.75rem;
			font-weight: 400;
			color: #16eedc;
		}

		@media (max-width: 87.5rem) {
			gap: 1rem;
		}
	}

	&-socials {
		display: flex;
		gap: 1rem;

		a {
			font-size: 0.8125rem;
			font-weight: 400;
			color: #16eedc;
			text-decoration: underline;
			text-underline-offset: 0.125rem;
			text-decoration-color: rgba(#16eedc, 0.2);
		}

		@media (max-width: 87.5rem) {
			order: 1;
			width: 100%;
			justify-content: center;
			padding: 1.5rem 0 1.625rem;
		}
	}
}