@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";


.footer {
	margin-bottom: 0.5rem;

	// .footer__wrapper
	&__wrapper {
		border-radius: 1rem 1rem 0 0;
		background: #FFF;
		padding: 4rem 9.1875rem 2.625rem 7.4375rem;
	}

	// .footer__header
	&__header {
		display: grid;
		grid-template-columns: 14.4375rem 4fr;
		gap: 8rem;
		margin-bottom: 2.8125rem;

		@media (max-width: 87.5rem) {
			display: flex;
			flex-direction: column;
			gap: 0;
			margin-bottom: 0;
		}
	}

	// .footer__header-main
	&__header-main {
		@media (max-width: 87.5rem) {
			order: 2;
			margin-top: 1.1875rem;

			.footer-logo {
				display: none;
			}
		}
	}

	// .footer__logo
	&__logo {
		margin-bottom: 2.75rem;
		display: block;
	}

	// .footer__desc
	&__desc {
		margin-left: 0.3125rem;
		margin-bottom: 0.9375rem;
		font-size: 0.8125rem;
		font-weight: 300;
		color: #7c8698;
		max-width: 14.4375rem;

		@media (max-width: 87.5rem) {
			width: 100%;
			max-width: unset;
			margin: 0;
			padding: 0.5rem 1rem;
			color: #838383;
		}
	}

	// .footer__addresses
	&__addresses {
		margin-left: 0.3125rem;
		display: flex;
		flex-direction: column;
		gap: 0.6875rem;

		address {
			font-size: 0.8125rem;
			font-weight: 500;
			line-height: 100%;
			color: #192A3F;
		}

		@media (max-width: 87.5rem) {
			margin: 0;
			padding: 0.5rem 1rem;
		}
	}

	// .footer__menu
	&__menu {
		display: flex;
		justify-content: space-between;

		@media (max-width: 87.5rem) {
			padding: 1rem 1rem 0;
			flex-direction: column;
			gap: 0;
			order: 1;
		}
	}

	// .footer__menu-block
	&__menu-block {}

	// .footer__menu-caption
	&__menu-caption {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		padding: 1rem 0;
	}

	// .footer__menu-list
	&__menu-list {

		display: flex;
		flex-direction: column;
		gap: 0.75rem;

		li {
			line-height: 100%;
		}

		a {
			font-size: 0.875rem;
			font-weight: 400;
			color: #7c8698;
			text-decoration: none;
			transition: color 0.2s;
		}

		@media (max-width: 87.5rem) {
			max-height: 0;
			overflow: hidden;
			opacity: 0;
			transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
			padding: 0;
			gap: 1rem;
		}
	}

	// .footer__bottom
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 1.5rem;
		border-top: 0.0625rem solid rgba(#000, 0.05);

		@media (max-width: 87.5rem) {
			flex-direction: column;
			gap: 0;
			align-items: flex-start;
			border: none;
			padding: 0;
		}
	}

	// .footer__copyright
	&__copyright {
		font-size: 0.75rem;
		font-weight: 400;
		color: #7c8698;

		@media (max-width: 87.5rem) {
			max-width: 5.8125rem;
			color: #838383;
		}
	}

	// .footer__terms
	&__terms {
		& ul {
			display: flex;
			gap: 6.9375rem;

			a {
				font-size: 0.75rem;
				font-weight: 400;
				color: #16eedc;
			}

			@media (max-width: 87.5rem) {
				gap: 1rem;
			}
		}
	}

	// .footer__socials
	&__socials {
		display: flex;
		gap: 1rem;


		@media (max-width: 87.5rem) {
			order: 1;
			width: 100%;
			justify-content: center;
			padding: 1.5rem 0 1.625rem;
		}
	}

	// .footer__social
	&__social {}

	// .footer__social-link
	&__social-link {
		font-size: 0.8125rem;
		font-weight: 400;
		color: #16eedc;
		text-decoration: underline;
		text-underline-offset: 0.125rem;
		text-decoration-color: rgba(#16eedc, 0.2);
	}
}