@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";


.header {
	position: sticky;
	top: rem(8);
	z-index: 6;

	// .header__wrapper
	&__wrapper {
		border-radius: 0.5rem;
		border: rem(1) solid #D2F5F2;
		background: url("@img/header-bg-blur.svg") 0 0 / cover no-repeat, #FFF;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(8);
		padding: rem(5) rem(5) rem(5) rem(24);
	}

	// .header__logo
	&__logo {}

	// .header__languages
	&__languages {}

	// .header__languages-toggler
	&__languages-toggler {
		border-radius: 0.5rem;
		border: rem(1) solid rgba(25, 214, 199, 0.10);
		background: rgba(25, 214, 199, 0.05);
		padding: rem(22) rem(14);
		color: #192A3F;
		min-height: rem(68);
		font-size: 1.125rem;
		font-weight: 700;
		display: flex;
		align-items: center;
		gap: rem(8);
		transition: background-color 0.3s ease;

		&:hover {
			background: rgba(25, 214, 199, 0.10);
		}

		&:active {
			background: rgba(25, 214, 199, 0.15);
		}
	}

	// .header__languages-icon
	&__languages-icon {
		flex: 0 0 rem(22);
		height: rem(16);
		border-radius: rem(1);

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .header__languages-text
	&__languages-text {}

	// .header__btn
	&__btn {}
}

.menu {
	flex: 1 1 auto;

	@media (min-width:$md1) {
		padding-left: rem(130);

	}

	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: rem(40);
	}

	// .menu__item
	&__item {}

	// .menu__link
	&__link {
		text-decoration: none;
		color: #192a3f;
		font-size: 0.875rem;
		font-weight: 500;
		letter-spacing: 0.0175rem;
		transition: all 0.3s ease;

		@media (any-hover: hover) {

			&:hover {
				color: #737f94;
			}
		}

	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	padding: 0.62rem 0.3125rem;
	color: #fff;
	z-index: 11;
	transition: all 0.3s ease;
	min-width: rem(36);
	height: rem(36);
	margin-left: 0.75rem;

	@media (min-width: $md3) {
		min-width: 2.5rem;
		height: 2.5rem;
		margin-left: rem(16);
	}

	@media (min-width: $md2) {
		display: none;
	}

	& span {
		display: block;
		padding: rem(3.5) rem(0);
		width: 100%;
		transition:
			transform 0.4s ease 0.4s,
			opacity 0.4s ease 0.4s;
		will-change: transform;

		&::before {
			content: "";
			display: block;
			height: rem(2);
			border-radius: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}

		&:last-child {
			width: 77%;
		}
	}

	&.active {
		color: #8c8c8c;
		background: transparent;
		padding: 0.35rem;

		& span {
			transition:
				transform 0.3s ease 0s,
				opacity 0.3s ease 0s;

			&::before {
				transition:
					transform 0.45s ease 0.35s,
					width 0.3s ease 0s;
			}

			&:first-child {
				transform: translateY(rem(9));

				&::before {
					transform: rotate(-135deg);
				}
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform: translateY(rem(-9));
				width: 100%;

				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}