@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

//============ МОДУЛИ ====================
@use "modules/popup";
// @use "modules/breadcrumbs";
// @use "modules/preloader";
// @use "modules/tooltip";
// @use "modules/marguee";
// @use "modules/pagination";
// @use "modules/animation";
//============ МОДУЛИ ====================

.title-lg {
	font-weight: 800;
	line-height: 100%;
	font-size: 1.75rem;

	@media (min-width: $md5) {
		font-size: 3rem;
	}

	@media (min-width: $md1) {
		font-size: 3.5rem;
	}
}

.title {
	font-weight: 800;
	line-height: 100%;
	font-size: 1.75rem;

	@media (min-width: $md5) {
		font-size: 2.5rem;
	}

	@media (min-width: $md1) {
		font-size: 3rem;
	}
}

.title-sm {
	font-weight: 800;
	line-height: 100%;
	font-size: 1.75rem;

	@media (min-width: $md5) {
		font-size: 2rem;
	}

	@media (min-width: $md1) {
		font-size: 2.5rem;
	}
}

.gradient-text {
	background: linear-gradient(105deg, #272727 25.41%, #2CDACC 221.5%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: fit-content;
}

.socials {
	display: flex;
	gap: 1rem;
	font-size: 0.8125rem;

	// .socials__item
	&__item {
		color: #19D6C7;

		display: inline-block;
		min-width: rem(27);
		text-align: center;
		padding-block: rem(1);
		border-bottom: rem(1) solid rgba(#16eedc, 0.2);
	}
}

.text-center {
	text-align: center;
}

.text-nowrap {
	white-space: nowrap;
}

.color-accent {
	color: $accent;
}

.swiper-button-next,
.swiper-button-prev {
	& .swiper-navigation-icon {
		display: none !important;
	}

	transition: background-color 0.3s ease 0s,
	color 0.3s ease 0s;
	z-index: 2;

	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #d9d9d9;
	color: #353535;
	--swiper-navigation-size: 2.1875rem;
	border-radius: 50%;

	&.swiper-button-lock {
		display: none;
	}

	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.3;
	}

	@media (any-hover: hover) {
		&:hover {
			background: #B0DF1D;
		}
	}
}

// .swiper-button-prev {
// 	@extend %ic, .icon-chevron-left;
// }

// .swiper-button-next {
// 	@extend %ic, .icon-chevron-right;
// }

.swiper-pagination {
	&.swiper-pagination-fraction {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: static;
		inset: auto;
		margin: 0;
		width: auto;
		color: #414651;
		line-height: 140%;
		font-size: 1rem;

		.swiper-pagination-current {
			color: var(--swiper-pagination-fraction-color, #000);
			font-weight: 700;
			line-height: 140%;
			margin-right: 0.25rem;
			font-size: 2rem;
		}
	}

	&.swiper-pagination-lock {
		display: none;
	}

	&.swiper-pagination-bullets {
		position: static;
		margin: auto;
		width: auto;
		--swiper-pagination-bullet-horizontal-gap: #{rem(6)};

		.swiper-pagination-bullet {
			background: #fff;
			opacity: 1;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 1.5rem;
				height: 1.5rem;
			}

			&.swiper-pagination-bullet-active {
				opacity: 1;
				background: $accent;
			}
		}
	}
}

.swiper-lazy-preloader {
	--swiper-preloader-color: #{$accent};
}

.mobile-only {
	@media (min-width: $md4) {
		display: none !important;
	}
}

._loading {
	color: transparent !important;
	pointer-events: none;
	transition: none;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: rem(20);
		height: rem(20);
		border: rem(3) solid var(--btn-text-color, #000);
		border-bottom-color: transparent;
		border-radius: 50%;
		transform-origin: center;
		animation: rotation 1s linear infinite;
		z-index: 3;
	}
}

@keyframes rotation {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}


//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: #16eedc;
$scrollbarHover: color.adjust($accent, $lightness: -10%);

::-webkit-scrollbar {
	width: rem(8);
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);

	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======